h1 {
    text-align: center;
    /* Remember! For text, use text-align:center, not margin:auto */
}

table{
    margin: auto;
    /* This centers the table */
}

td {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.top {
    border-top: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}

.left {
    border-left: 1px solid black;
}

.right {
    border-right: 1px solid black;
}
