/* Element */
li {

}

/* class */
.hello {

}

/* id */
#name {

}

/* star */
/* Selects every element on the page */
* {
    border: 1px solid lightgrey;
}

/* Descendant Selector */
/* Takes two or more tag names, pattern matches them according to the html file */
/* For example, I want all anchor tags nested inside an li. */
li a {
    color: red;
}
/* Adjacent Selector */
/* Works like the Descendant selector except that the elements aren't nested, but within the same hierarchy as each other */
/* For example, select all ul that comes after a h4 */
h4 + ul {
    border: 4px solid red;
}

/* Attribute Selector */
a[href='http://www.google.com'] {
    background: blue;
}

/* nth of type */
/* Selects the nth position of that element on the page */
/* For example, I wish to change the 3rd ul inside this webpage. */
ul:nth-of-type(3) {
    background: purple;
}

/* This one selects the 3rd li of every list in a page. Note that it is NOT repetitve i.e 3rd 6th 9th element. Only the 3rd element is changed. */
li:nth-of-type(3) {
    background: green;
}

/* This one considers all li in a page as a concatenated list and selects every even numbered element. */
li:nth-of-type(even) {
    background: pink;
}
